<!DOCTYPE html>
<html>
  <head>
    <title>Test Express App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>Allowed URLs</h1>
  <ul>
    <li>'/character/:name'</li>
    <li>'/characters'</li>
    <li>'/planetresidents'</li>
  </ul>
  </body>
</html>
